* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: "Montserrat", sans-serif;

  }
 body{
  background-color: white;
  background: url(./images//delinea-background-purple-tight.webp);
 }

 .w-100{
  min-width: 650px;
 }
 .w-90{
  min-width: 500px;
 }
 #select,#simbol{
  height:25px;
  width:45px;
  border:none;
  border-radius: 1px;
}
 input{
  height:55px;
  border:none;
  border-radius: 3px;
 }

 .check{
  height:12px;
  width:12px;
  border:none;
  border-radius: 1px;
 }

 input::placeholder{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
 }
 

 button{
    margin: auto;
    display: block;
    width: 375px;
    height:55px;
    background: #00FFD1;
    outline: none;
    border-radius: 5px;
    text-align: center;
    color: #231556;
    padding: 0px;
    font-size: 22px;
    font-weight: 600;
    border:none;
 }

 button:hover{
  margin: auto;
  display: block;
  width: 375px;
  height:55px;
  background: #00FFD1;
  outline: none;
  border-radius: 5px;
  text-align: center;
  color: #231556;
  padding: 0px;
  font-size: 22px;
  font-weight: 600;
  border:none;
}



 p{
  text-align: justify;
 }

 h4,h3{
  text-decoration: underline;
 }
 